[submodule "foundry_simple_storage/lib/forge-std"]
	path = foundry_simple_storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_fund_me/lib/forge-std"]
	path = foundry_fund_me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
